.box {
    width: 20%;
}

.buttonClose {
    height: 4%;
    width: 100%;
    transition-duration: 0.4s;
    font-size: 17px;
    border-radius: 15px;
    background-color: var(--background-secondary);
    color: var(--text-primary);
}

.buttonClose:hover {
    background-color: var(--background-third);
    color: var(--text-secondary);
    border-radius: 15px;
}