.mainBox {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: var(--background-image);
    color: wheat;
}

.filmsBox {
    margin-top: 110px;
    width: 70%;
    height: 85%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}
.pageDiv {
    background: silver;
    width: 50%;
    height: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    border: 2px solid black;

}
.films {
    width: 100%;
    height: 97%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

