.pageDiv {
    background: silver;
    width: 50%;
    height: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    border: 2px solid black;
    margin: 0 auto;
    position: absolute;
    bottom: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%)
}

.films {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}