.formBox {
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

input[type=text] {
    box-sizing: border-box;
    width: 300px;
    height: 40px;
    background-color: var(--background-secondary);
    border-radius: 30px;
    font-size: 20px;
    color: var(--text-secondary)
}
input::placeholder {
    color: var(--text-primary);
}

input:focus::placeholder {
    color: var(--text-secondary);
}
input:focus{
    background-color: var(--background-third);
}

.formBox button {
    width: 13%;
    height: 60%;
    border-radius: 50%;
    cursor: pointer;
    background-color: var(--text-primary);
}
.formBox button:hover {
    transition: 0.4s;
    width: 14%;
    height: 65%;
}
.biSearch {
    width: 100%;
    height: 100%;
    color: var(--text-secondary);
}