.sidebar-content {
    position: fixed;
    top: 70px;
    left: -300px;
    bottom: 0;
    width: 300px;
    background-color: var(--background);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    z-index: 999;
    transition: all 0.3s ease-in-out;
}

.sidebar-content.open {
    left: 0;
}

.sidebar-trigger {
    position: fixed;
    top: 70px;
    width: 15%;
    height: 40px;
    cursor: pointer;
}


.sidebar-trigger .bar:first-child {
    transform: translateY(-10px);
}

.sidebar-trigger .bar:last-child {
    transform: translateY(10px);
}

.buttonClose {
    height: 40px;
    width: 100%;
    transition-duration: 0.4s;
    color: var(--text-primary);
    background-color: var(--background-secondary);
    font-size: 20px;
}

.buttonClose:hover {
    background-color: var(--background-third);
    color: var(--text-secondary);
    cursor: pointer;
}
