.MainBox {
    width: 100%;
    height: 100vh;

    background-image: var(--background-image);
    color: wheat;
}

.filmsBox {
    max-width: 1200px;
    width: 100%;
    height: 80vh;
    position: absolute;
    top: 140px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%)
}